In [1]:
import pandas as pd
from dask import dataframe as dk
import numpy as np
#!pip install pandas --upgrade
data_types = {
    'ID':  np.int64,
    'Case Number':  object,
    'Date': object,
    'Block': object,
    'IUCR': object,
    'Primary Type': object,
    'Description':  object,
    'Location Description': object,
    'Arrest':  bool,
    'Domestic': bool,
    'Beat': np.int64,
    'District': np.float64,
    'Ward': np.float64,
    'Community Area': np.float64,
    'FBI Code': object,
    'X Coordinate': np.float64,
    'Y Coordinate': np.float64,
    'Year': np.int64,
    'Updated On': object,
    'Latitude': np.float64,
    'Longitude': np.float64,
    'Location': object
}
df = pd.read_csv('crimes.csv', dtype=data_types)

In [3]:
poverty = pd.read_csv('poverty.csv')
poverty = poverty.drop('COMMUNITY AREA NAME', 1)

In [4]:
#  Remove unwanted columns from the data
# Add 'Date' back in when RJ fixes the datetime converter
useful_columns = ['IUCR', 'Location Description', 'Arrest', 'Domestic', 'Community Area', 'Year']
data_full = df[useful_columns]

In [5]:
# Merge with the poverty dataframe
data_full = data_full.rename(columns={'Community Area': 'Community Area Number'})
data_full = pd.merge(data_full, poverty, how='right', on='Community Area Number')

In [6]:
# Also resample to a smaller size for now
num_records = 100000
data = data_full.sample(num_records, replace=True)
data = data.dropna()
data.tail()

,IUCR,Location Description,Arrest,Domestic,Community Area Number,Year,PERCENT OF HOUSING CROWDED,PERCENT HOUSEHOLDS BELOW POVERTY,PERCENT AGED 16+ UNEMPLOYED,PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA,PERCENT AGED UNDER 18 OR OVER 64,PER CAPITA INCOME,HARDSHIP INDEX
2512839,0820,PARKING LOT/GARAGE(NON.RESID.),False,False,29,2004,7.4,43.1,21.2,27.6,42.7,12034,87
349925,1350,CHA PARKING LOT/GROUNDS,True,False,8,2009,1.9,12.9,7.0,2.5,22.6,88669,1
4455024,1320,STREET,True,False,22,2009,3.2,16.8,8.2,14.8,26.2,31908,23
889343,1310,APARTMENT,False,True,68,2008,3.8,46.6,28.0,28.5,42.5,11888,94
4911352,051A,STREET,False,False,19,2002,10.8,18.7,14.6,37.3,37.3,15461,70