In [1]:
import dask.dataframe as dd
import pandas as pd
import numpy as np
#!pip install dask[dataframe]
#!pip install pandas --upgrade
# We have to do this as dask is bad at guessing the types of objects for some reason
# Also, if you are having trouble with running the dataframe and continuously get 
# Fatal Python error: GC object already tracked, try to update pandas
data_types = {
    'ID':  np.int64,
    'Case Number':  object,
    'Date': object,
    'Block': object,
    'IUCR': object,
    'Primary Type': object,
    'Description':  object,
    'Location Description': object,
    'Arrest':  bool,
    'Domestic': bool,
    'Beat': np.int64,
    'District': np.float64,
    'Ward': np.float64,
    'Community Area': np.float64,
    'FBI Code': object,
    'X Coordinate': np.float64,
    'Y Coordinate': np.float64,
    'Year': np.int64,
    'Updated On': object,
    'Latitude': np.float64,
    'Longitude': np.float64,
    'Location': object
}
df = pd.read_csv('crimes.csv')
print("finished loading")

finished loading

c:\Anaconda2\lib\site-packages\pandas\computation\__init__.py:19: UserWarning: The installed version of numexpr 2.4.4 is not supported in pandas and will be not be used

  UserWarning)

In [167]:
import datetime
import locale

store = pd.HDFStore('store.h5')


data_subset = pd.DataFrame(df.head(2000).Date)

# add columns
data_subset.insert(0, 'Hour', 0)
data_subset.insert(0, 'Day', 0)
data_subset.insert(0, 'Month', 0)
data_subset.insert(0, 'Year', 0)

# convert string date time to 24 hour (just hour)
def to24Hour(x):
    date = datetime.datetime.strptime(x, '%x %X %p')
    hour = date.strftime('%H')
    am = x[-2:] == 'AM'
    if(am):
        if(hour == '12'):
            hour = '00'
        else:
            return hour
    else:
        if(hour != '12'):
            hour = str(int(hour) + 12)

    return hour


# convert date
locale.setlocale(locale.LC_ALL, '')
#datetime.datetime.strptime('06/25/2012 03:00:00 PM', '%x %X %p').strftime('%A')
#https://docs.python.org/2/library/datetime.html#strftime-strptime-behavior
data_subset['Hour'] = data_subset['Date'].apply(to24Hour)
data_subset['Day'] = data_subset['Date'].apply(lambda x: datetime.datetime.strptime(x, '%x %X %p').strftime('%w'))
data_subset['Month'] = data_subset['Date'].apply(lambda x: datetime.datetime.strptime(x, '%x %X %p').strftime('%m'))
data_subset['Year'] = data_subset['Date'].apply(lambda x: (datetime.datetime.strptime(x, '%x %X %p').strftime('%Y')))

# save to HDF5
store['data_subset'] = data_subset
#retrieve with varName = store['data_subset']

store.close()

data_subset

      Year Month Day Hour                    Date
0     2012    06   1   15  06/25/2012 03:00:00 PM
1     2012    06   0   22  06/24/2012 10:00:00 PM
2     2012    06   0   00  06/17/2012 12:01:00 AM
3     2012    06   1   15  06/25/2012 03:00:00 PM
4     2012    06   4   23  06/21/2012 11:00:00 PM
5     2012    06   1   17  06/25/2012 05:30:00 PM
6     2012    05   3   09  05/16/2012 09:00:00 AM
7     2012    06   1   18  06/25/2012 06:45:00 PM
8     2012    06   3   13  06/20/2012 01:00:00 PM
9     2012    06   5   13  06/22/2012 01:00:00 PM
10    2012    06   6   13  06/23/2012 01:00:00 PM
11    2012    06   1   14  06/25/2012 02:30:00 PM
12    2012    06   1   19  06/25/2012 07:00:00 PM
13    2012    05   0   10  05/27/2012 10:00:00 AM
14    2012    06   1   09  06/25/2012 09:00:00 AM
15    2012    06   6   15  06/23/2012 03:00:00 PM
16    2012    06   1   14  06/25/2012 02:00:00 PM
17    2012    06   1   18  06/25/2012 06:30:00 PM
18    2012    06   1   16  06/25/2012 04:00:00 PM
19    2012    06   1   16  06/25/2012 04:07:00 PM
20    2012    06   1   12  06/25/2012 12:30:00 PM
21    2012    06   1   17  06/25/2012 05:50:00 PM
22    2012    06   1   18  06/25/2012 06:30:00 PM
23    2012    06   1   19  06/25/2012 07:35:00 PM
24    2012    06   1   15  06/25/2012 03:00:00 PM
25    2012    06   1   17  06/25/2012 05:45:00 PM
26    2012    06   1   16  06/25/2012 04:30:00 PM
27    2012    06   1   11  06/25/2012 11:29:00 AM
28    2012    05   1   15  05/28/2012 03:31:00 PM
29    2012    06   1   16  06/25/2012 04:00:00 PM
...    ...   ...  ..  ...                     ...
1970  2012    06   3   01  06/27/2012 01:00:00 AM
1971  2012    06   3   16  06/27/2012 04:55:00 PM
1972  2012    06   3   16  06/27/2012 04:00:00 PM
1973  2012    06   3   17  06/27/2012 05:13:00 PM
1974  2012    06   1   16  06/25/2012 04:00:00 PM
1975  2012    06   3   16  06/27/2012 04:10:00 PM
1976  2012    06   2   18  06/26/2012 06:30:00 PM
1977  2012    06   4   12  06/14/2012 12:00:00 PM
1978  2012    06   3   17  06/27/2012 05:20:00 PM
1979  2012    06   3   09  06/27/2012 09:30:00 AM
1980  2012    06   3   06  06/27/2012 06:30:00 AM
1981  2012    06   3   17  06/27/2012 05:12:00 PM
1982  2012    06   3   15  06/27/2012 03:32:00 PM
1983  2012    06   3   16  06/27/2012 04:39:00 PM
1984  2012    06   3   06  06/27/2012 06:00:00 AM
1985  2012    06   3   09  06/20/2012 09:00:00 AM
1986  2012    06   0   23  06/24/2012 11:30:00 PM
1987  2012    06   3   03  06/27/2012 03:30:00 AM
1988  2012    06   3   16  06/27/2012 04:00:00 PM
1989  2012    06   3   17  06/27/2012 05:00:00 PM
1990  2012    06   5   19  06/22/2012 07:35:00 PM
1991  2012    06   3   15  06/27/2012 03:29:00 PM
1992  2012    06   3   16  06/27/2012 04:30:00 PM
1993  2012    06   1   19  06/25/2012 07:00:00 PM
1994  2012    06   3   17  06/27/2012 05:28:00 PM
1995  2012    06   1   19  06/25/2012 07:00:00 PM
1996  2012    06   3   17  06/27/2012 05:15:00 PM
1997  2012    06   3   16  06/27/2012 04:15:00 PM
1998  2012    06   3   16  06/27/2012 04:30:00 PM
1999  2012    06   2   19  06/26/2012 07:30:00 PM

[2000 rows x 5 columns]

In [85]:
import matplotlib.pyplot as plt

In [168]:
hourCounts = data_subset.Hour.value_counts().sort_index()

X = np.arange(len(hourCounts))

plt.bar(X, hourCounts.values)

plt.xticks(X, hourCounts.axes[0])

plt.show()

In [126]:
dayCounts = data_subset.Day.value_counts().sort_index()

X = np.arange(len(dayCounts))

plt.bar(X, dayCounts.values, align='center')

plt.xticks(X, dayCounts.axes[0]) # ['S', 'M', 'T', 'W', 'Th', 'F', 'Sa'])#

plt.show()

In [127]:
monthCounts = data_subset.Month.value_counts().sort_index()

X = np.arange(len(monthCounts))

plt.bar(X, monthCounts.values, align='center')

plt.xticks(X, monthCounts.axes[0])

plt.show()

In [ ]:
yearCounts = data_subset.Year.value_counts().sort_index()

X = np.arange(len(yearCounts))

plt.bar(X, yearCounts.values, align='center')

plt.xticks(X, yearCounts.axes[0])

plt.show()